{# <pre>
    {{ dump() }}
</pre> #}
<div class="row">
    <div class="col border-end mx-1">
        <{{type}} {{ attributes.merge({ class: 'prenotazione form' }) }}  id="{{id}}">
            <input type="hidden" name="id">
            
            <div class="mb-3">
                <label for="titolo" class="form-label fw-bold text-wrap">Titolo:</label>
                <input type="text" class="form-control" id="titolo" name="titolo" aria-describedby="titleHelp">
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="arrivo" class="form-label fw-bold text-wrap">Data di arrivo:</label>
                    <input type="date" class="form-control" name="arrivo">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="partenza" class="form-label fw-bold text-wrap">Data di partenza:</label>
                    <input type="date" class="form-control" name="partenza">
                </div>
            </div>
            
            {% if short is not defined %}
            <div class="mb-3">
                <label for="capo_gruppo" class="form-label fw-bold text-wrap">Capo Gruppo:</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input type="text" class="form-control" name="capo_gruppo">
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label fw-bold text-wrap">Email:</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text"><i class="bi bi-envelope-at"></i></span>
                    <input type="email" class="form-control" name="email">
                </div>
            </div>

            <div class="mb-3">
                <label for="telefono" class="form-label fw-bold text-wrap">Telefono:</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                    <input type="tel" class="form-control" name="telefono" placeholder="+39 3xx xxxxxxx">
                </div>
            </div>

            <div class="mb-3">
                <label for="note" class="form-label fw-bold text-wrap">Note:</label>
                <textarea class="form-control" name="note" rows="25" cols="100"></textarea>
            </div>


            {% set colore_options = [
                { value: '0', label: 'Rosso Chiaro', color: '#FF0000'},
                { value: '6', label: 'Rosso Scuro', color: '#800000'},

                { value: '1', label: 'Verde Chiaro', color: '#00FF00'},
                { value: '7', label: 'Verde Scuro', color: '#008000'},

                { value: '2', label: 'Azzurro Chiaro', color: '#4B87FF'},
                { value: '8', label: 'Azzurro Scuro', color: '#2B54A6' },

                { value: '3', label: 'Giallo Chiaro', color: '#FFFF00'},
                { value: '9', label: 'Giallo Scuro', color: '#CCCC00' },

                { value: '4', label: 'Arancione Chiaro', color: '#FFA500'},
                { value: '10', label: 'Arancione Scuro', color: '#A05200' },

                { value: '5', label: 'Viola Chiaro', color: '#8B00FF' },
                { value: '11', label: 'Viola Scuro', color: '#55007F' },
            ] %}

            <div class="mb-3">
                <label for="colore" class="form-label fw-bold text-wrap">Colore:</label>
                <div class="select-box">
                    <div class="select-box__current" tabindex="1">
                        {% for option in colore_options %}
                            <div class="select-box__value">
                                <input class="select-box__input" type="radio" id="{{ "new_event_color_" ~ option.value }}" value="{{ option.value }}" name="colore" checked="checked"/>
                                <p class="select-box__input-text">
                                    <span class="color-dot" style="background-color: {{ option.color }}"></span>
                                    {{ option.label }}
                                </p>
                            </div>
                        {% endfor %}
                        <img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                    </div>
                    <ul class="select-box__list">
                        {% for option in colore_options %}
                            <li>
                                <label class="select-box__option" for="{{ "new_event_color_" ~ option.value }}" aria-hidden="aria-hidden">
                                    {% if option.color %}
                                        <span class="color-dot" style="background-color: {{ option.color }}"></span>
                                    {% endif %}
                                    {# {{ option.label }} #}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {# <div class="select-box">
                <div class="select-box__current" tabindex="1">
                    <div class="select-box__value">
                        <input class="select-box__input" type="radio" id="0" value="1" name="colore" checked="checked"/>
                        <p class="select-box__input-text">Cream</p>
                    </div>
                    <div class="select-box__value">
                        <input class="select-box__input" type="radio" id="1" value="2" name="colore" checked="checked"/>
                        <p class="select-box__input-text">Cheese</p>
                    </div>
                    <div class="select-box__value">
                        <input class="select-box__input" type="radio" id="2" value="3" name="colore" checked="checked"/>
                        <p class="select-box__input-text">Milk</p>
                    </div>
                    <div class="select-box__value">
                        <input class="select-box__input" type="radio" id="3" value="4" name="colore" checked="checked"/>
                        <p class="select-box__input-text">Honey</p>
                    </div>
                    <div class="select-box__value">
                        <input class="select-box__input" type="radio" id="4" value="5" name="colore" checked="checked"/>
                        <p class="select-box__input-text">Toast</p>
                    </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                </div>
                <ul class="select-box__list">
                    <li>
                        <label class="select-box__option" for="0" aria-hidden="aria-hidden">Cream</label>
                    </li>
                    <li>
                        <label class="select-box__option" for="1" aria-hidden="aria-hidden">Cheese</label>
                    </li>
                    <li>
                        <label class="select-box__option" for="2" aria-hidden="aria-hidden">Milk</label>
                    </li>
                    <li>
                        <label class="select-box__option" for="3" aria-hidden="aria-hidden">
                        <span class="color-dot" style="background-color: #FF0000"></span>
                            Honey
                        </label>
                    </li>
                    <li>
                        <label class="select-box__option" for="4" aria-hidden="aria-hidden">Toast</label>
                    </li>
                </ul>
            </div> #}

            {% if not new %}
                <div class="mb-3">
                    <label for="totale" class="form-label fw-bold text-wrap">Totale:</label>
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input type="number" name="totale" class="form-control">
                    </div>
                </div>

                {# <div class="mb-2">
                    <label for="termine_saldo" class="form-label fw-bold text-wrap">Caparre:</label>
                    <div name="caparre" type="input-list" data-type="json" fill-function="setupCaparre">
                        

                    </div>
                </div> #}

                <div class="mb-3">
                    <label for="termine_saldo" class="form-label fw-bold text-wrap">Termine del saldo:</label>
                    <input type="date" class="form-control" id="termine_saldo" name="termine_saldo">
                </div>

                <div class="mb-3">
                    <label for="saldo" class="form-label fw-bold text-wrap">Saldo:</label>
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input type="number" name="saldo" class="form-control" disabled>
                    </div>
                </div>

            {% endif %}


            {# ! Example Caparra #}
            {# <div class="d-flex mb-1">
                <div class="input-group mx-1">
                    <span class="input-group-text">€</span>
                    <input type="number" name="caparra-id" class="form-control">
                </div>
                <select class="form-select  mx-1">
                    <option value="" selected disabled>Tipo Pagamento</option>
                    <option value="0">Bonifico</option>
                    <option value="1">Contanti</option>
                </select>
            </div> #}
            <div class="my-2">
                <span class="text-danger" message-type="error"></span>
            </div>
            {% endif %}

            {{ slot }}

        </{{type}}>
    </div>

    {% if second_col is defined %}
    <div class="col mx-1">
        {{ second_col }}
    </div>
    {% endif %}
</div>